<div class="container">
  <h1 class="jumbotron" style="text-align: center;background-color: crimson;color: white">Angular Bootstrap Example</h1>
  <app-page
    *ngFor="let page of pages"
    [page]="page"
    [show]="pagesIndex[pages.indexOf(page) + 1]"
  >
  </app-page>
  <ul class="pagination" style="margin-left: 50%; transform: translate(-50%, 0%)">
    <li
      *ngFor="let page of pages"
    >
      <a class="page-link" (click)="createPaginationIndex(pages.indexOf(page) + 1)">{{pages.indexOf(page) + 1}}</a>
    </li>
  </ul>
</div>
